.header {
  background-image: linear-gradient(#00013a, #008eda);
  height: 130px;
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_title {
  margin: 0 0 1rem 1rem;
  color: white;
  text-align: start;

  /* font-family: ; */
  font-size: 22px;
  letter-spacing: 1px;
}

.header_content {
  text-align: start;
  color: white;
  height: 50px;
  padding-left: 1rem;
}

.nav {
  display: flex;
  width: 85%;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  align-items: end;
}

.navLinks {
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: end;
}

.navIcon {
  height: 30px;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-bottom: 10px;
}

.footLine {
  position: relative;
}

.footLine::after {
  display: block;
  content: "";
  width: 150%;
  height: 4px;
  background: white;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: -25%;
}
