html {
  font-size: 62.5%;
}

.welcomePage {
  min-height: 100vh;
  background-image: linear-gradient(#00013a, #008eda);
  display: flex;
  justify-content: space-between;
}
.lines {
  display: flex;
  width: 15%;
}

.lines-decoration1 {
  background-image: linear-gradient(
    180deg,
    #796e06 0%,
    rgba(255, 230, 0, 0) 100%
  );
  height: 250px;
  width: 20px;
  top: 0;
  margin-right: 20px;
}

.lines-decoration2 {
  background-image: linear-gradient(
    180deg,
    #764b07 0%,
    rgba(252, 181, 69, 0) 100%
  );
  height: 350px;
  width: 20px;
  margin-right: 20px;
  top: 0;
}

.lines-decoration3 {
  background-image: linear-gradient(
    180deg,
    #156c6c 0%,
    rgba(196, 196, 196, 0) 100%
  );
  height: 450px;
  width: 20px;
  margin-right: 20px;
  top: 0;
}

.lines-decoration4 {
  background-image: linear-gradient(
    180deg,
    #994e07 0%,
    rgba(156, 116, 5, 0) 100%
  );
  height: 600px;
  width: 20px;
  top: 0;
}

.container {
  flex: 4;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  max-height: 100vh;
  padding: 0;
  width: 70%;
  margin-left: 7%;
}

.flex1 {
  margin-top: 0.5rem;
}

.flex1 img {
  object-fit: contain;
  background-color: rgb(255, 255, 255) !important;
  padding: 1px 5px 1px 5px;
  border-radius: 60%;
}

.flex2 {
  margin-top: 5rem;
  margin-bottom: 20rem;
}

.flex2 > h1 {
  color: rgb(184, 184, 184);
  font-size: 50px;
  font-weight: lighter;
  margin-top: 0.5rem;
  font-family: Opera, serif;
  letter-spacing: 0.4rem;
  font-weight: 400;
}

.flex3 {
  margin-top: 9rem;
}

button {
  padding: 1em 6em;
  font-weight: bold;
  border-radius: 1rem;
  font-size: 1.8rem;
  border: none;
  outline: none;
}

#assistanceBtn {
  width: 6.2rem;
  height: 5.4rem;
}

#logo {
  width: 20rem;
  height: 20rem;
  margin-bottom: 3rem;
}

.get_started_link {
  background-color: rgb(250, 249, 242);
  border-radius: 4px;
  padding: 2rem 8rem 2rem 8rem;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(53, 53, 53);
  font-family: "Poppins", sans-serif;
  width: 500px;
}

.get_started_link {
  width: 500px;
}

.get_started_link:hover {
  background-color: #ffffff;
  color: #003a90;
  border: 2px solid #ff9028;
}

.welcome-image {
  width: 30%;
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.welcome-image img {
  width: 800px;
  height: 102.85%;
  margin-right: -180px;
}
