.login_page {
  min-height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.assistance_icon_div {
  height: 10%;
}

.login_content {
  width: inherit;
}

.login_section {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_card {
  padding: 3rem 2rem 3rem 2rem;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 15%;
}

.sign_in_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.sign_in_icon {
  height: 30px;
  width: 30px;
  margin: 0 5px 0 5px;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3rem 1rem 1rem 1rem;
}

.login_form input {
  color: black;
  padding: 20px 0px 20px 20px;
  border-radius: 4px;
}

.email-label {
  display: none;
}

.form_remember_div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form_remember_div a {
  color: rgba(2, 49, 85, 0.99);
}

.form_remember_div a:hover {
  color: rgb(110, 20, 4);
}

.form_input {
  width: 100%;
  border: 1px solid rgb(94, 94, 94);
  font-size: 15px;
  letter-spacing: 1px;
  padding: 2px 2px 3px 2px;
  margin-top: 5px;
  margin-bottom: 2rem;
  height: 44px;
  color: black;
  font-family: "Poppins", sans-serif;
}

.form_input input {
  color: black;
}

.form_buttons {
  width: 100%;
}

.paragraphe {
  font-size: 30px;
  font-weight: 600;
  color: rgba(1, 60, 105, 0.99);
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 35px;
}

.google-btn {
  width: 100%;
  margin: 3rem 1rem 1rem 1rem;
}

.google-btn img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 23%;
  margin-left: -13px;
  cursor: pointer;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}

.btn-one {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 44px;
  background-color: white !important;
  border: 0.3px solid rgba(2, 75, 131, 0.99) !important;
  border-radius: 4px;
  color: rgba(2, 49, 85, 0.99) !important;
  font-size: 18px !important;
  font-family: "Poppins", sans-serif !important;
  letter-spacing: 0.1rem;
  font-weight: 600 !important;
  margin-top: -10% !important;
}

.btn-one:hover {
  background-color: #1070b8 !important;
  color: white !important;
  border: none !important;
}

.btn .form_input:focus {
  outline: none;
}

.text-or {
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 16px;
  font-weight: 600;
  color: rgba(2, 49, 85, 0.99);
}

.form_submit {
  padding: 9px 30px 9px 30px;
  width: 100%;
  background-color: #51b3e8;
  color: rgb(59, 59, 59);
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.valid-btn {
  width: 100%;
  margin-top: 25px;
}

.btn-two {
  align-items: center;
  text-align: center;
  justify-content: center;
  min-width: 100%;
  height: 44px;
  background-color: white !important;
  border: 0.3px solid rgba(2, 75, 131, 0.99) !important;
  border-radius: 4px;
  color: rgba(2, 49, 85, 0.99) !important;
  font-size: 18px !important;
  font-family: "Poppins", sans-serif !important;
  letter-spacing: 0.1rem;
  font-weight: 600 !important;
  margin-top: -10% !important;
}

.btn-two:hover {
  background-color: #1070b8 !important;
  color: white !important;
  border: none !important;
}

/* The skill_check */
.skill_check {
  width: 100%;
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  margin-right: 2rem;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.skill_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  background-color: #1070b8;
}

.checkmark {
  width: 18px;
  height: 18px;
  border-radius: 3px;
}

/* Create a custom checkbox */
.skill_check {
  color: rgba(2, 49, 85, 0.99);
  width: 100%;
  margin-bottom: 20px;
}
/* On mouse-over, add a grey background color */
.skill_check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.skill_check input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the checkmark/indicator */
.skill_check .checkmark::after {
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Show the checkmark when checked */
.skill_check input:checked ~ .checkmark::after {
  display: block;
}

.already-text {
  color: rgba(115, 115, 116, 0.99);
}

.create-now {
  color: rgba(2, 49, 85, 0.99);
  margin-left: 8px;
  font-weight: 500;
  padding-bottom: -10px;
  cursor: pointer;
}
