.login_page {
  min-height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.assistance_icon_div {
  height: 10%;
}

.login_content {
  width: inherit;
}

.login_section {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_card {
  padding: 3rem 2rem 3rem 2rem;
  box-shadow: 0 0 10px rgb(157 157 157);
}

.sign_in_icons {
  display: flex;
}

.sign_in_icon {
  height: 30px;
  width: 30px;
  margin: 0 5px 0 5px;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3rem 1rem 1rem 1rem;
}

.form_remember_div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form_input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(94, 94, 94);
  font-size: 15px;
  letter-spacing: 1px;
  padding: 2px 0 3px 0;
  margin-top: 5px;
  margin-bottom: 2rem;
}

.form_input:focus {
  outline: none;
}

.form_buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
}

.form_submit {
  padding: 9px 30px 9px 30px;
  width: 68%;
  background-color: #51b3e8;
  color: rgb(59, 59, 59);
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.sign_up_link {
  font-size: 15px;
  padding: 9px 30px 9px 30px;
  width: 30%;
  background-color: white;
  border: none;
  text-decoration: none;
  font-weight: 600;
  color: rgb(59, 59, 59);
}

/* The skill_check */
.skill_check {
  width: 70%;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-right: 2rem;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.skill_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.skill_check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.skill_check input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the checkmark/indicator */
.skill_check .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Show the checkmark when checked */
.skill_check input:checked ~ .checkmark::after {
  display: block;
}
